<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Registrate con <a href="!#">Facebook</a> o <a href="!#">Google</a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-3">
        <div class="row justify-content-center">
          
          <div class="col-md-8">
            <label for="txtEmailSignup">Email:</label>
            <input required [(ngModel)]="client.email" class="form-control" type="email" name="txtEmailSignup" id="txtEmailSignup ">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <label for="txtNameSignup">Nombres: </label>
            <input required [(ngModel)]="client.firstname" class="form-control" type="text" name="txtNameSignup" id="txtNameSignup">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <label for="txtLastNameSignup">Apellidos: </label>
            <input required [(ngModel)]="client.lastname" class="form-control" type="text" name="txtLastNameSignup" id="txtLastNameSignup">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <label for="txtPasswordSignup">Contraseña: </label>
            <input required [(ngModel)]="client.password" class="form-control" type="password" name="txtPasswordSignup" id="txtPasswordSignup">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <label for="txtPasswordSignup">Fecha de Nacimiento: </label>
            <input  required [(ngModel)]="client.age" class="form-control" type="date" name="txtPasswordSignup" id="txtPasswordSignup">
          </div>
        </div>            
        <div class="row justify-content-center">
          <div class="col-md-8 checkbox mt-1">
            <label><input required type="checkbox" value="" id="chckConditions" required>&nbsp;<a href="privacy" >Acepto terminos  y condiciones</a></label>
          </div>
        </div>
        <div class="row mt-3 justify-content-center text-center">
          <div class="col-md-8">
              <a href="#!" class="col-md-12 btn btn-outline-success"  (click)="onSign()">Registrate</a>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    -->
    </div>
  </div>
</div>

