<div class="container" [@animacionAparecer]>
  <div class="row">
    <div class="col-sm-12">
      <h3 *ngIf="rents==0">Aún no cuentas con rentas realizadas</h3>
    </div>
  </div>
  <ng-container *ngFor="let rent of rentsInfo">

    <table *ngIf="rent.acceptence != 2" class="table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Información del interesado </td>
          <td>{{rent.clientname}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Fechas:</td>
          <td>{{rent.dateofpickup}} al {{rent.returnday}}</td>
          <td></td>
        </tr>
        <tr>
          <td>IVA</td>
          <td>{{rent.iva| currency}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Precio total con iva</td>
          <td>{{rent.pricexiva | currency}}</td>
          <td></td>
        </tr>
        <tr>
          <tr>
            <td>Tu ganancia total</td>
            <td>{{rent.gain | currency}}</td>
            <td></td>
          </tr>
          <tr>
              <td>Aceptar/Declinar</td>
              <td><button *ngIf="rent.acceptence == 0" (click)="onAcceptence(true,rent)" type="button" class="btn btn-success align-left">Aceptar</button><button (click)="onAcceptence(false,rent)" type="button" class="btn btn-danger">Declinar</button></td>
              <td *ngIf="rent.acceptence == 1">Aceptado</td>
          </tr>
      </tbody>
    </table>
  </ng-container>

</div>