<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Ingresa o Registrate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-3">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <label for="txtEmail">Email: </label>
            <input  [(ngModel)]="json.email"  class="form-control" type="text" name="txtEmail" id="txtEmail">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <label for="txtPassword">Contraseña: </label>
            <input  [(ngModel)]="json.password"  class="form-control" type="password" name="txtPassword" id="txtPassword">
          </div>
          <div class="alert alert-danger" role="alert"  *ngIf="showAlert">
            La contraseña  o el usuario son incorrectos, inténtalo de nuevo.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 checkbox mt-1">
            <label><input type="checkbox" value="" id="chckRemember">&nbsp;Recordar Credenciales</label>
          </div>
        </div>
        <div class="row mt-3 justify-content-center text-center">
          <div class="col-md-8">
              <button type="button" class="col-md-12 btn btn-outline-success"  aria-label="Close"  (click)="onLogin()">Iniciar Sesión</button>
              <a href="#!" class="col-md-12">Olvidé mi Contraseña</a>
          </div>
        </div>
        <div class="row mt-3 justify-content-center text-center">
            <div class="col-md-8">
              <button type="button" class="col-md-12 d-flex justify-content-around btn btn-primary" aria-label="Left Align">
                <fa class="p1" name="facebook-f"></fa>
                <div class="p2">Continuar con Facebook</div>
              </button>
            </div>
          </div>
        <div class="row mt-1 justify-content-center text-center">
          <div class="col-md-8">
            <button type="button" class="col-md-12 d-flex justify-content-around btn btn-danger" aria-label="Left Align">
              <fa class="p1" name="google"></fa>
              <div class="p2">Ingresa con Google</div>
            </button>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    -->
    </div>
  </div>
</div>