<div class="container-fluid">
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
            <h2><fa name="car"></fa>&nbsp;&nbsp;Vehículos cerca de ti</h2>
        </div>
      </div>
    </div>
</div>
<div class="container mt-2 mb-5 justify-content-center">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 mt-4"><app-car-card img='example_1.jpg'></app-car-card></div>
        <div class="col-sm-6 col-md-4 mt-4"><app-car-card img='example_2.jpg'></app-car-card></div>
        <div class="col-sm-6 col-md-4 mt-4"><app-car-card img='example_3.jpg'></app-car-card></div>
    </div>
    <div class="row justify-content-end mt-5">
        <a class="col-md-4 col-sm-12 btn btn-outline-primary" href="#!">Mostrar más</a>
    </div>
</div>