<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h2><fa name="car"></fa>&nbsp;&nbsp;Vehículos cerca de ti</h2>
        </div>
      </div>
    </div>
</div>
<div class="container mt-2 mb-5 justify-content-center">
    <div class="row justify-content-center">
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
    </div>
    <div class="row justify-content-end mt-1">
        <div class="col-md-12 col-lx-2 mt-1">
          <a class="col-md-12 btn btn-light" href="#!">Mostrar más</a>
        </div>
    </div>  
</div>