<form ngNativeValidate (ngSubmit)="onSaveCar()">
  <div class="container mt-5 mb-2">
    <button class="btn btn-outline-secondary float-right">
      <fa name="save"></fa>&nbsp;Guardar
    </button>
  </div>
  <div class="container mb-5" [@animacionAparecer]>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-5">
        <img src="/assets/img/car.png" width="80%">
      </div>
      <div class="col-sm-12 col-md-4">
        <h3>Características de tu vehículo</h3>
        <div class="form-group">
          <label for="marca">Marca del Automóvil</label>
          <input [(ngModel)]="userCar.brand" name="userCar.brand" type="text" id="marca" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="model">Modelo del Automóvil</label>
          <input [(ngModel)]="userCar.model" name="userCar.model" type="text" id="model" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="year">Año del Automóvil</label>
          <input [(ngModel)]="userCar.year" name="userCar.year" value="2018" type="number" id="year" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="year">Numero de placa</label>
          <input [(ngModel)]="userCar.id_car" name="userCar.id_car" type="text" id="year" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="transmission">Transmisión</label>
          <select [(ngModel)]="userCar.automatic" name="userCar.automatic" id="transmission" class="form-control" required>
            <option value=""></option>
            <option value="Manual">Manual</option>
            <option value="Automática">Automática</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Aire Acondicionado</label>
          <select [(ngModel)]="userCar.ac" name="userCar.ac" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Asientos Disponibles</label>
          <input [(ngModel)]="userCar.passagers" name="userCar.passagers" type="number" min="2" max="10" value="4" step="1" id="air"
            class="form-control" required>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Puertas</label>
          <input [(ngModel)]="userCar.doors" name="userCar.doors" type="number" min="2" max="4" step="1" value="4" id="air" class="form-control"
            required>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Turbo</label>
          <select [(ngModel)]="userCar.turbo" name="userCar.turbo" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Capota</label>
          <select [(ngModel)]="userCar.sparetier" name="userCar.sparetier" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Bolsas de Aire</label>
          <select [(ngModel)]="userCar.airbags" name="userCar.airbags" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Espacio para Maletas</label>
          <select [(ngModel)]="userCar.numsuitcase" name="userCar.numsuitcase" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Audio Bluetooth</label>
          <select [(ngModel)]="userCar.audiobluetooth" name="userCar.audiobluetooth" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Llanta de Refacción</label>
          <select [(ngModel)]="userCar.audioaux" name="userCar.audioaux" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="air">Llave con Sensor de Proximidad</label>
          <select [(ngModel)]="userCar.sensor" name="userCar.sensor" id="air" class="form-control" required>
            <option value=""></option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
  
      <div class="col-sm-12 col-md-3">
          <div class="form-group">
            <label for="air">Alarma</label>
            <select [(ngModel)]="userCar.alarm" name="userCar.alarm" id="air" class="form-control" required>
              <option value=""></option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="form-group">
          
            </div>
          </div>
      <div class="col-sm-12 col-md-9">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Describe porque deberian de rentar tu vehículo:</label>
          <textarea placeholder="Mínimo 50 caracteres" [(ngModel)]="userCar.description" name="userCar.description" class="form-control"
            id="exampleFormControlTextarea1" rows="3" minlength="50" required></textarea>
        </div>
      </div>
    </div>
  </div>
</form>