
<div class="container mb-5" [@animacionAparecer]>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <h3>Tus Fotos</h3>
    </div>
  </div>
<image-upload
*ngIf="cont<=6"
(change)="handleFileInput($event.target.files)"
[max]="8"
[buttonCaption]="'Selecciona imagenes para tu automovil(6 maximo)'"
[dropBoxMessage]="'O puedes soltarlas aquí'"
[extensions]="['jpg','png']"
>
</image-upload>
</div>
<div *ngFor="let image of carImage;index as i">
  <img class="align-self-center mr-3" src="{{carImage[i]}}" width="10%" alt=""> 
  <button  (click) ="onDeleteImage(i)">eliminar foto</button>
</div>
 
<!-- <img class="align-self-center mr-3" src="{{carImage[1]}}" width="30%" alt="">  
<img class="align-self-center mr-3" src="{{carImage[2]}}" width="30%" alt="">  
<img class="align-self-center mr-3" src="{{carImage[3]}}" width="30%" alt="">  
<img class="align-self-center mr-3" src="{{carImage[4]}}" width="30%" alt="">  
<img class="align-self-center mr-3" src="{{carImage[5]}}" width="30%" alt="">  
       -->