

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <img src="/assets/img/man.png" width="80%">
    </div>
    <div class="col-md-6">
        <h3><fa name="user"></fa>&nbsp;Cómo convertirte en Arrendador</h3>
        <p>Es facíl, solo llena  este  <a routerLink="/renter/vehicle"> formulario</a> completo, al finalizar veraz que tu perfil cambiara, agregando preferencias de renta y perfil de renta a tu perfil</p>
        <p>¿Tienes más preguntas?, revisa la seccion de preguntas frecuentes</p>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <h3><fa name="shield"></fa>&nbsp;Segurdad con RaeBe</h3>
      <p>RaeBe se encuentra en proceso de negociación para brindar uns seguro que sea por día y pagado por los interesados de tu carro, puedes <b>preguntar por el descuento RaeBe en autos@olascaga.com.mx o llamar al número (33)36114030</b></p>
    </div>
    <div class="col-md-4">


      
        <img src="/assets/img/olascoga.jpg" width="80%">

    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <img src="/assets/img/question.png" width="80%">
    </div>
    <div class="col-md-6">
        <h3><fa name="question-circle"></fa>&nbsp;Preguntas Frecuentes</h3>
        <h6>¿Cómo obtengo ganancias?</h6>
        <p>Todos los pagos de raebe son centralizados, es necesario tener una cuenta de paypal vinculado al correo que usas para tu cuenta RaeBe ya que ahí serán enviados todos los pagos, los pagos serán quincenales contando a partir del primero de cada mes</p>
        <h6>¿Cuál es el porcentaje de mi ganancia?</h6>
        <p>El 80% de la ganancia total es tuyo, es decir, RaeBe se quederá con el %20 de la ganancia total de la renta.</p>
        <h6>¿Cómo esta protegido mi carro?</h6>
        <p>En cualquier momento puedes revisar el   <a href="/assets/documents/Contrato RaeBe.pdf"
          download="Contrato RaeBe.pdf">
         contrato</a> el cual te protege de manera legal en la renta, este debe de ser firmado por el interesado y el arrendador</p>
         <h6>¿Qué pasa si no tengo asegurado mi carro para arrendamientos?</h6>
         <p>De  momento Raebe esta trabajando para poder brindar un seguro diario que pueda pagar el interesado sin encesidar de contar con un seguro especial, de momento el seguro del vehículo es responsabilidad del arrendador, RaeBe solo actúa como intermediario.</p>
         <h6>¿Que debo de hacer al momento de arrenden mi carro?</h6>
         <p>Es recomendable tomar 6 fotos de su vehículo, verificar que la foto del interesado, nombre y edad coincidan con su permiso para conducir, en cualquier caso que no coincidan debe de declinar la renta preferentemente.
            <h6>¿Cuál es el proceso para la renta?</h6>
            <p>Usted encontrara un apartado de arrendamientos en su perfil, donde podra consultar la información necesaria para la renta y establecer contacto con el interesado, usted podrá declinar y aceptar una renta, la renta finaliza una vez que se da click al botón de "Carro entregado" </p>
            <h6>¿Qué pasa si hay un inconveniente con el interesado, ejemplo que me devuelva tarde el coche, algún accidente etc.?</h6>
            <p>En el contrato se establecen multas legales, si se tiene algun problema con los tiempos de entrega, pagos, y procesos legales, usted tendra que detallar el caso y enviar un correo a raebems@gmail.com para brindarle una solución </p>
            <h6>Cualquier otra duda o comentario hacerlo llegar a raebems@gmail.com</h6>

    
      </div>
<div class="container mt-5 mb-5">
  <div class="row justify-content-center text-center">
    <div class="col-sm-3">
      <a class="btn btn-primary"routerLink="/renter/vehicle">Mostrar mi vehículo</a>
    </div>
  </div>
</div>
