

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <img src="/assets/img/man.png" width="80%">
    </div>
    <div class="col-md-6">
        <h3><fa name="user"></fa>&nbsp;Cómo convertirte en Arrendador</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <h3><fa name="shield"></fa>&nbsp;Segurdad con RaeBe</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/img/lock.png" width="80%">
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <img src="/assets/img/question.png" width="80%">
    </div>
    <div class="col-md-6">
        <h3><fa name="question-circle"></fa>&nbsp;Preguntas Frecuentes</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero repellat cumque, numquam rerum eos facere animi, nihil adipisci architecto dignissimos quam sed vitae veniam temporibus nulla cupiditate non perferendis?</p>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center text-center">
    <div class="col-sm-3">
      <a class="btn btn-primary"routerLink="/renter/vehicle">Mostrar mi vehículo</a>
    </div>
  </div>
</div>
