@media (orientation: landscape) {
    .container-theme {
        background-image: url('/assets/img/city_landscape.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        margin: auto;
        height: 70vh;
    }
}

@media (orientation: portrait) {
    .container-theme {
        background-image: url('/assets/img/city_portrait.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        margin: auto;
        height: 50vh;
    }
}

.slogan{
    color:#fff;
}