<div class="container-fluid container-theme d-flex justify-content-center">
  <div class="country-wrap">
    <div class="slogan"><h1>Reserva carros, motos y bicicletas</h1><h3>La manera mas cómoda de viajar</h3></div>
    <div class="grass"></div>
    <div class="street">
      <div class="car">
      <div class="car-body">
        <div class="car-top-back">
          <div class="back-curve"></div>
        </div>
        <div class="car-gate"></div>
        <div class="car-top-front">
          <div class="wind-sheild"></div>
        </div>
        <div class="bonet-front"></div>
        <div class="stepney"></div>
      </div>
      <div class="boundary-tyre-cover">
        <div class="boundary-tyre-cover-back-bottom"></div>
        <div class="boundary-tyre-cover-inner"></div>
      </div>
      <div class="tyre-cover-front">
        <div class="boundary-tyre-cover-inner-front"></div>
      </div>
      <div class="base-axcel">

      </div>
      <div class="front-bumper"></div>
      <div class="tyre">
        <div class="gap"></div>
      </div>
      <div class="tyre front">
        <div class="gap"></div>
      </div>
      <div class="car-shadow"></div>
    </div>
    </div>
    <div class="street-stripe"></div>
    <div class="hill">
      <div class="tree-1">
        <div class="branch-1"></div>
        <div class="branch-2"></div>
        <div class="branch-3"></div>
      </div>
      <div class="tree-1">
      <div class="branch"></div>
      <div class="trunk"></div>
    </div>
    </div>

  </div>
</div>
<div class="division"></div>
<div class="container-fluid container-second d-flex justify-content-center">
  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-sm-12 col-md-8 text-center">
        <h2>Vehículos justo a tiempo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea, possimus, vel perferendis ut totam, facilis et distinctio nisi aut tempore modi incidunt asperiores accusantium consequatur nemo quod earum error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea, possimus, vel perferendis ut totam, facilis et distinctio nisi aut tempore modi incidunt asperiores accusantium consequatur nemo quod earum error.</p>
      </div>
    </div>
  </div>
</div>
<div class="division"></div>
<div class="container-fluid container-third d-flex justify-content-center">
  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-sm-12 col-md-8 text-center">
        <h2>Cuando sea, como sea</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea, possimus, vel perferendis ut totam, facilis et distinctio nisi aut tempore modi incidunt asperiores accusantium consequatur nemo quod earum error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea, possimus, vel perferendis ut totam, facilis et distinctio nisi aut tempore modi incidunt asperiores accusantium consequatur nemo quod earum error.</p>
      </div>
    </div>
  </div>
</div>