<app-search>
</app-search>

<div class="container-fluid" [@animacionAparecer]>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2><fa name="car"></fa>&nbsp;&nbsp;Vehículos Destacados</h2>
      </div>
    </div>
  </div>
</div>

<div class="container justify-content-center">
  <div class="row justify-content-center mt-3">
      <div class="col-sm-12 col-md-4 mb-5">
      <app-car-card img='example_1.jpg'></app-car-card>
    </div>
    <div class="col-sm-12 col-md-4 mb-5">
      <app-car-card img='example_2.jpg'></app-car-card>
    </div>
    <div class="col-sm-12 col-md-4 mb-5">
      <app-car-card img='example_3.jpg'></app-car-card>
    </div>
    <div class="col-sm-12 col-md-4 mb-5">
      <app-car-card img='example_3.jpg'></app-car-card>
    </div>
    <div class="col-sm-12 col-md-4 mb-5">
      <app-car-card img='example_1.jpg'></app-car-card>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <app-car-card img='example_2.jpg'></app-car-card>
    </div>
  </div>
</div>