<div class="container mt-2" [@animacionAparecer]>
  <div class="row">
    <div class="col-sm-12">
      <h2>Información del Vehículo</h2>
    </div>
  </div>
</div>

<div class="container mt-2" [@animacionAparecer]>
  <div class="row">
    <div class="col-sm-6">
        <img src="{{image}}" width="80%" alt="">
    </div>
    <div class="col-sm-6">
      <h2>{{vehicleName}}</h2>
      <h3>{{vehicleType}}</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-12 divisor">
      &nbsp;
  </div>
</div>

<div class="container mt-2" [@animacionAparecer]>
  <div class="row">
    <div class="col-sm-6">
      <h2>Características</h2>
    </div>
  </div>
  <li *ngFor='let feature of features'>
    {{feature}}
  </li>
</div>
<div class="container mt-5" [@animacionAparecer]>
  <div class="row">
    <div class="col-sm-8">
      <h2>Detalles adiciónales</h2>
      <p>{{description}}</p>
    </div>
    <div class="col-sm-4">
      <img src="/assets/img/group.png" width="80%">
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-12 divisor">
      &nbsp;
  </div>
</div>
<input data-provide="datepicker">
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h2>Evaluaciones</h2>
      <div class="container">
        <div class="row mt-3" *ngFor='let evaluation of evaluations'>
          <div class="col-sm-12">
            <h4><b>{{evaluation.username}}</b> {{evaluation.value}}</h4>
            <p>{{evaluation.date}}</p>
          </div>
          <div class="col-sm-12 comment">
            {{evaluation.comment}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-sm-12">
      <a routerLink="/client/agreement" class="btn btn-primary">Mostrar contrato del vehículo</a>
    </div>
  </div>
</div>