<div class="col-sm-12 col-md-8 mt-1" #verticalCard>
  <div class="card" style="width:20rem">
    <img class="card-img-top" src="{{img}}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{brandmark}}</h2>
      <h5 class="card-title">{{model}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
    <div class="card-footer justify-content-center text-center">
      <a class="btn btn-outline-primary"  routerLink="/client/vehicle-info">Detalles del vehículo</a>
    </div>
  </div>
</div>

<div class="container horizontal-card" #horizontalCard>
    <img src="{{img}}" width="100px" alt="Card image cap">
    <div>
      <h2 class="card-title">{{brandmark}}</h2>
      <h5 class="card-title">{{model}}</h5>
      <p class="card-text">{{description}}</p>
      <a class="btn btn-outline-primary"  routerLink="/client/vehicle-info">Detalles del vehículo</a>
    </div>
</div>