<div class="offer-card text-center shadow" [ngStyle]="cardStyle">
  <div class="fluid-container fluid-full-container">
    <div class="row offer-spacing">
      <div class="col-sm-12">
          
      </div>
    </div>
    <div class="row offer-content justify-content-center">
      <div class="col-md-12 text-center">
        <div class="transparency-container">
          <p class="offer-text">
            <b>{{brandmark}}</b>&nbsp;{{model}}<br>
            {{description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>