<div class="container mt-2 mb-2"  [@animacionAparecer]>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12"><h3>Hola <span>{{user.firstname}}</span></h3></div>
    </div> 
</div>

<div class="container mb-5"  [@animacionAparecer]>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-5 text-center">
        <img src="/assets/img/rent.png" width="70%">
    </div> 
    <div class="col-sm-12 col-md-4">
      <p><a routerLink="/renter/features">Características de tu vehículo</a></p>
    <div *ngIf="userHasCar; else  elseBlock"> 
      <p><a routerLink="/renter/extras">Extras</a></p>
      <p><a routerLink="/renter/insurance">Seguro de tu vehículo</a></p>
      <p><a routerLink="/renter/policies">Políticas</a></p>
      <p><a routerLink="/renter/calendar">Fechas de Renta</a></p>
      <p><a routerLink="/renter/images">Imágenes</a></p>
      <p><a routerLink="/renter/prices">Tus precios</a></p>
    </div>
    <ng-template #elseBlock>
      <p><a class="isDisabled" routerLink="/renter/vehicle">Extras</a></p>
      <p><a class="isDisabled" routerLink="/renter/vehicle">Seguro de tu vehículo</a></p>
      <p><a class="isDisabled" routerLink="/renter/vehicle">Políticas</a></p>
      <p><a class="isDisabled" routerLink="/renter/vehicle">Fechas de Renta</a></p>
      <p><a class="isDisabled" routerLink="/renter/vehicle">Imágenes</a></p>
      <p><a class="isDisabled" routerLink="/renter/vehicle">Tus precios</a></p>
    </ng-template>
    </div>
  </div>
</div> 