<div class="container mt-2">
  <div class="row justify-content-start text-left">
    <div class="col-sm-12 col-md-3">
      <h3>Hola <span>{{user.firstname}}</span>!</h3>
    </div>
  </div>
  <div class="row justify-content-start text-left">
    <p class="col-sm-12 col-md-1 mt-sm-0"><a routerLink="my-info" class="profile-link">Perfil</a></p>
    <p class="col-sm-12 col-md-1 mt-sm-0"><a routerLink="rents" class="profile-link">Rentas</a></p>
    <p class="col-sm-12 col-md-1 mt-sm-0"><a routerLink="reviews" class="profile-link">Reviews</a></p>
    <p class="col-sm-12 col-md-1 mt-sm-0"><a routerLink="messages" class="profile-link">Mensajes</a></p>

  </div>
</div>

<router-outlet>
</router-outlet>
