<div class="container" [@animacionAparecer]>
  <div class="row">
    <div class="col-sm-12">
      <h3 *ngIf="myRents==0">Aún no cuentas con rentas realizadas</h3>
    </div>
  </div>
  <ng-container *ngFor="let rent of clientsRents">
    <table *ngIf="rent.acceptence != 2" class="table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Arrendador:</td>
          <td ><a style="color:blue" (click)="setClient(rent.id_clientrenter)">click aquí para ver perfil arrendador</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Fechas:</td>
          <td>{{rent.dateofpickup}} al {{rent.returnday}}</td>
          <td>Dias totales: {{rent.totaldays}} día(s)</td>
        </tr>
        <tr>
          <td>Precio base:</td>
          <td>{{rent.price| currency}}</td>
          <td>Días x Precio base:{{rent.price*rent.totaldays| currency}}</td>
        </tr>
        <tr>
          <td>IVA</td>
          <td>{{rent.iva| currency}}</td>
          <td>Precio más IVA:{{rent.pricexiva | currency}}</td>
        </tr>
        <tr>
        <tr>
          <td>Total a pagar</td>
          <td><b>{{rent.totalprice | currency}}</b></td>
          <td></td>
        </tr>
        <tr>
          <td>Estatus</td>
          <td><button *ngIf="rent.acceptence != 4"  data-toggle="modal" data-target="#declineModal" type="button" class="btn btn-danger">Declinar</button></td>
          <td *ngIf="rent.acceptence == 1">Aceptado</td>
          <td *ngIf="rent.acceptence == 0">Sin estatus aún</td>
          <td *ngIf="rent.acceptence == 2">Declinado</td>
          <td *ngIf="rent.acceptence == 4">Aceptado, hoy es el día!</td>
          <td></td>
        </tr>
      </tbody>
      <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="declinelLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="declinelLabel">Atención</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p *ngIf="rent.acceptence != 4">Estas a punto de declinar una renta lo cual va a eliminarla de tu lista de rentas,¿deseas continuar?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button *ngIf="rent.acceptence != 4" (click)="onAcceptence(2,rent)" type="button" data-dismiss="modal" class="btn btn-primary ">Continuar</button>
              </div>
            </div>
          </div>
        </div>
    </table>
    <hr>
  </ng-container>
</div>