fa {
    color : #283149;
}

.shadow{
	box-shadow: 1px 1px 1px rgba(134, 133, 133, 0.137);
}

.container-divisor{
    background-color: #7084bb;
    margin: 0 auto;
    width: 100%;
}

.little-image{
    width: 200px;
    height: 200px;
  }