<div class="container-fluid mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h2><fa name="location-arrow"></fa>&nbsp;&nbsp;Guadalajara</h2>
        </div>
      </div>
    </div>
</div>

<div class="container mt-2 mb-2">
    <div class="row container-search">
        <div class="col-md-3 col-sm-12 mt-1">
          Ubicación
          <input class="mr-1 form-control" type="text" placeholder="Ej. Plaza Galerías">
        </div>
        <div class="col-md-3 col-sm-12 mt-1">
          Fecha de Recogida
          <input class="mr-1 form-control" type="date" placeholder="Fecha de Recogida">
        </div>
        <div class="col-md-3 col-sm-12 mt-1">
          Fecha de Devolución
          <input class="mr-1 form-control" type="date" placeholder="Fecha de Devolución">
        </div>
        <div class="col-md-3 col-sm-12 mt-1">
          Pasajeros
          <input class="mr-1 form-control" type="number" placeholder="Pasajeros">
        </div>
    </div>
    <div class="row justify-content-end mt-5">
        <a class="col-sm-12 col-md-4 btn btn-outline-primary">Continuar</a>
    </div>
</div>